<div class="page-wrap" fullscreen>
  <mat-toolbar class="menu" role="header" color="primary" style="min-height: 150px;">
    <mat-toolbar-row>
        <span class="large-font">Nodequiz</span>
      <button mat-button class="mat-button med-font" routerLink="/">
        Home
      </button>
      <button mat-button class="mat-button med-font" routerLink="/quiz">
        Quiz
      </button>
      <button mat-button class="mat-button med-font" routerLink="/login">
        Login
      </button>
      <button mat-button class="mat-button med-font" routerLink="/summary">
        Summary 
      </button>
      
      <div class="flex"></div>
      
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon class="md-64">exit_to_app</mat-icon></button>
      <mat-menu #menu="matMenu">        
        <button mat-menu-item>
          <span>Logout</span>
        </button>  
      </mat-menu>
    </mat-toolbar-row>  
  </mat-toolbar>
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>

  <footer>
      <div id="interests1" class="row">
        <div class="col-sm-3">
          <img mat-card-image src="./assets/Meanstack.jpg" alt="Photo of Meanstack"> 
        </div> 
        <div class="col-sm-3">
          <img mat-card-image src="./assets/Meanstack.jpg" alt="Photo of Meanstack"> 
        </div>
        <div class="col-sm-3">
          <img mat-card-image src="./assets/Meanstack.jpg" alt="Photo of Meanstack"> 
        </div> 
        <div class="col-sm-3">
            <img mat-card-image src="./assets/Meanstack.jpg" alt="Photo of Meanstack"> 
        </div>
      </div>
  </footer>
</div>


