<mat-toolbar class="menu" role="header" color="primary" style="min-height: 150px;">
  <mat-toolbar-row>
    <button mat-button class="toolbar__icon-button mat-button">
      <mat-icon class="md-64">home</mat-icon>
    </button>
    <button mat-button class="mat-button large-font">
      Quiz
    </button>
    <button mat-button class="mat-button large-font">
      Summary 
    </button>
    
    <div class="flex"></div>
    
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon class="md-64">exit_to_app</mat-icon></button>
    <mat-menu #menu="matMenu">        
      <button mat-menu-item>
        <span>Logout</span>
      </button>  
    </mat-menu>
  </mat-toolbar-row>  
</mat-toolbar>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>

<footer>
  <img mat-card-image src="./assets/Meanstack.jpg" alt="Photo of Meanstack">  
  <img mat-card-image src="./assets/Meanstack.jpg" alt="Photo of Meanstack">  
  <img mat-card-image src="./assets/Meanstack.jpg" alt="Photo of Meanstack">  
</footer>


