.wrapper{
    display: flex;
    flex-direction: column;
    margin: 5% 5%;
}
.flex {
    flex: 1;
}
.menu{
    position: relative;
    top: 0;
    left: 0;
    width: 100% !important;
}
.mat-icon.md-64 {
  font-size: 64px;
}
footer{
    height: 200px;
    background-color: rgb(174, 188, 250);
}
img{
    width: 30vw;
    margin: auto 2vw;
}
.large-font{
    font-size: 45px;
    min-width: 200px;
    min-height: 48px;
    text-align: left;
}
.mat-button{
    height: 100px;
}